@import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding-top: 4rem;
}

.done {
  text-decoration: line-through;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  strong {
    margin-right: 1rem;
  }
}

// ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

// li {
//   display: flex;
//   word-wrap: break-word;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0.5rem 1rem;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   margin-bottom: 0.5rem;
//   text-align: left;
// }

// input {
//   margin-right: 1rem;
// }

// .btn-open {
//   width: 7rem;
//   display: inline-flex;
// }
// .lds-dual-ring {
//   display: inline-block;
//   width: 80px;
//   height: 80px;
// }
// .lds-dual-ring:after {
//   content: " ";
//   display: block;
//   width: 64px;
//   height: 64px;
//   margin: 8px;
//   border-radius: 50%;
//   border: 6px solid aqua;
//   border-color: aqua transparent aqua transparent;
//   animation: lds-dual-ring 1.2s linear infinite;
// }
// @keyframes lds-dual-ring {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
